
.react-calendar {
    background: white;
}

.react-calendar__navigation button span{
    font-size: 19px;
    margin: 0;
    display: block;
    color: rgb(0 90 115);
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.react-calendar__month-view__weekdays abbr{
    text-decoration: underline;
}



.calendarBox {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

.calendarBtn{
    position: sticky;
    margin-top: -2.5vh;
    margin-left: -3vh;
    padding-bottom: 29px;
    width: 31px;
    z-index: 1001;
    height: 25px;
    border-radius: 50%;
    font-family: "Berlin Sans FB", sans-serif;
    font-size: 1.3em;
    box-shadow: inset 0 0 2px 1px rgba(93, 93, 93, 0.4);
    border: 1px solid #727272;
    background-color: white;
}

.calendar{
    display: flex;
    justify-content: center;
    margin-top: 26vh;
    flex-direction: row-reverse;
}
