.contributor-main {
    background: linear-gradient(0deg, rgba(10,170,147,1) 0%, rgba(138,205,200,1) 57%, rgb(5, 102, 129) 100%);

}

.contributor-main button {
    border-radius: 5px;
    color: white;
    display:inline-block;
    padding:0.60em 1.4em;
    border: none;
    box-sizing: border-box;
    text-decoration:none;
    background-color:#5E9A8C;
    text-align:center;
    transition: all 0.2s;

}

.contributor-main .contributor-content h2 {
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 44px;
    font-weight: 400;

}
.contributor-main .contributor-content h1 {
    font-weight: 300;
}


.contributor-main .contributor-content span {
    display: flex;
    flex-flow: column;
    margin: 2vh;

}
.contributor-main .contributor-content label {
    margin-bottom: 10px;

}

.contributor-main .contributor-content select {
    width: 5vw;
    height: 25px;
    border: none

}

.contributor-main .contributor-content input{
    height: 25px;
    border: none;
    margin-bottom: 8px;
}

.main-title{
    color:white;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;

}

.box-item {
    padding: 40px;
    background: rgba(255,255,255,0.6);
    border: white;
    border-radius: 3px;
}

.contributor-area {
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.card .close-icon{
    line-height: 26px;
}

.left {
    text-transform: capitalize;
    margin: 2em;
    text-align: left;
}

.right {
    text-align: left;
    margin: 2em;
}

.item-list{
    grid-template-columns: 1fr 1fr;
    display: grid;
    text-align: center;
    margin-bottom: 2vh;
}

.item-list-right {
    margin: auto;
}

.item-list-left {
    margin: auto;
}

.item-list-left .inner {
    padding: 1px;
    width: 23vw;
    border-radius: 3px;
}

.exercise-list {
    display: flex;
}

.exercise-list .inner {
    margin: 0;
    width: 16vw;
    height: 6.5vh;
    border-radius: 3px;
}

.exercise-list .inner .card .item-name-exercise {
    position: relative;
    top: -.3vh;
    font-weight: normal;
    font-family: 'Saira Condensed', sans-serif;
}

.exercise-list .inner .card .item-name {
    font-weight: normal;
}



.exercise-list .setValue{
    width: 5vw;
    height: 5vh;
    margin-top: 1.1vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.exercise-list .trainingList {
    display: flex;
    margin-bottom: 2vh;
}

.exercise-list button {
    align-self: center;
    background-color: #6496b7;
}

.workout-list button {
    align-self: center;
    background-color: #6496b7;
}

.item-list-right button {
    align-self: center;
    background-color: #db8686;
}

.program-creator{
    display: flex;
    justify-items: end;
    margin: auto;
}

.program-creator button {
    width: 50%;
    height: 75%;

}

.program-creator p{
    font-weight:normal;
}

.item-list-left p{
    font-family: "Saira Condensed";
    font-weight: bold;
}

.item-list-left .item-name-exercise{
    height: unset;
}

.program-creator .display-training {
    width: 100%;
}

.contributor-main .FilterNavbar .navbar{
    background-color: transparent;

}

.program-creator .display-training .inner{
    border-radius: 1px;


}

@media (max-width: 1000px){

    .contributor-area{
        display: flex;
        flex-direction: column;
    }
}
