body .login {
    background: rgb(0,90,115);
    background: linear-gradient(0deg, rgb(0, 118, 155) 0%, rgb(123, 246, 223) 57%, rgb(0, 229, 149) 100%);
    padding: 1em 0;
}

.loginContent {
    position: relative;
    top: 12vw;
}

.login {
    height: 100vh;
}

.login h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 10vh;
    margin: 0 0 3vh 0;

}

.login button {
    padding: 1em 4em;
    color: white;
    background-color: #035771;
    border: none;
}

.login .buttonContainer {
    background-color: rgba(255,255,255,0.5);
    padding: 2.5em 6em;
    display: inline-block;
    border-radius: 15px;
}
