.allProgramsList{
    background-color:  rgba(255, 255, 255, 0.7);
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    align-items: center;
}


.recommended-list .suggestion .inner{
    background-color:  rgba(255, 255, 255, 0.7);
    margin: 12px 120px 12px 14px;
    border-radius: 10px;
    align-items: center;
}

.recommended-list .suggestion .inner .item-name{
    font-size: 18px;
}


.allList{
    align-items: center;
    background-color: #e8f7f8;
    width: 90%;
    border-radius: 1px;
    margin: auto;
    padding-bottom: 1px;
}

.suggestion{
    border-radius: 10px;
    background-size:cover;
    background-repeat:no-repeat;
    margin: 10px;
    box-sizing: border-box;
    width: 30%;
    display: inline-block;
    background-position: center;

}

.recommended-list{
    background-color: #e8f7f8;;
    width: 90%;
    border-radius: 1px;
    margin: auto;

}
/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #0e0e0e;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    width: 200px;
    height: 30px;
    word-spacing: 100px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(255, 255, 255);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffffff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ffffff;}

