.all_programs h2{
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
}

.all_programs .allList .inner{

    display: flex;
    justify-content: space-between;
}

.all_programs .allList{
    width:50%
}


.all_programs .allList .inner .card .item-name {
    font-weight: normal;
    font-size: 19px;
    margin-left: 15px;

}


.all_programs .allList .inner .catalogue-button {
    margin-right: 15px;
    margin-top: 11px;

}

.inner button{
    border: 1px solid #126d76;

}

.item-name-exercise{

    display: flex;
    position: relative;
    top: 4px;
    left: 35px;
    font-family: 'Saira Condensed';
    font-size: 19px;
}

@media (max-width: 800px) {
    .all_programs .allList{
        width:95%;
    }

}

