.currentGoals {
    display: flex;
    background: rgba(255,255,255,0.6);
    border-radius: 15px;
    padding-right: 3em;
    margin: 15px;
}

.goalList button {
    padding: .5em .5em;
    border-radius: 5px;
    border: 2px solid #108082;
    color: white;
    background-color: #19a3a5;
}

.goalList {
    list-style: none;
    display: contents;
}

.goalList .prevGoals {
    align-self: center;
}

.goalItems {
    border-bottom: 1px solid grey;
}

.goalItems label {
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
}

.workoutsInGoal ul{
    padding: 0;
}

.workoutsInGoal li{
    list-style: none;
    text-align: left;
    padding-left: 2vw;
    font-weight: 100;
    font-size: .8em;
}

ul {
    padding-inline-start: 0;
}

.noGoals button {
    padding: .5em .5em;
    border-radius: 5px;
    border: 2px solid #108082;
    color: white;
    background-color: #19a3a5;
}

.noGoals h2 {
    color: #282828;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

@media (max-width: 600px) {
    .currentGoals {
        flex-direction: column-reverse;
        align-items: center;
    }
}


