.dashboard {
    background: rgb(0,90,115);
    background: linear-gradient(0deg, rgba(0,90,115,1) 0%, rgba(138,205,200,1) 57%, rgba(10,170,147,1) 100%);
    padding: 1em 0;
    height:100vh;
}

.dashboard h1 {
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-size: 2.5em;
    margin-bottom: 0;
}

.Periode__kalender h3{
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}

.Periode__kalender .calendarAndBtn {
    display: flex;
    justify-content: center;
}

.Periode__kalender .calendarButton {
    margin-top: 1.7vh;
    height: 6vh;
    padding: .5em .5em;
    border-radius: 5px;
    border: 2px solid #108082;
    color: white;
    background-color: #19a3a5;
}

.progressRight {
    margin: 2em;
    position: relative;
    left: 2em;
}

.goalsLeft {
    padding: 2em 0;
    width: 300px;
    position: relative;
    left: 20px;
    background-color: white;
}

.goalsLeft li {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 1em;
}

.goalsLeft .goalAndCheck{
    display: flex;
    justify-content: space-between;
}

.dashContent {
    display: flex;
    justify-content: center;
    padding-inline: 0 2.5em;
    flex-wrap: wrap;
}

.dashContent h2, h3 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    margin: 15px;
}

@media (max-width: 1055px){
    .dashboard{
        height:100%;
    }
}

@media (max-width: 600px) {

    .dashContent {
        position: relative;
        left: 5vw;
    }

    .achievedGoals {
        display: contents;
        width: 60vw;
    }

    .progressRight {
        left: 1.5em;
    }

    .dashboard {
        width: 100%;
        height:100%;
    }

    .Periode__kalender .calendarButton {
        height: 8vh;
    }

    .Periode__kalender .calendarAndBtn {
        display: block;
    }
}

.achievedGoals {
    background-color: #22a1a2;
    border-radius: 15px;
    padding: 1em 2em;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.achievedGoals h3 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.achievedGoals span {
    display: flex;
}

.achievedGoals button {
    background-color: #9dd5d6;
    color: black;
    padding: .7em;
    margin-top: 1em;
}

.achievedGoals li {
    background-color: #dbefef;
    border-radius: 5px;
    margin-right: .5em;
    margin-top: 1em;
    padding: 10px;
    width: 21vw;
    text-align: left;
    list-style: none;
    font-size: .8em;
    cursor: pointer;
}
