body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.percentContainer {
    display: flex;
    justify-content: center;
}

.percent {
    position: relative;
    width: 170px;
    height: 170px;
}

.percent .number {
    position: absolute;
    top: 38px;
    left: 0;
    width: 99%;
}

.percent .number h2 {
    margin-block-end: 10px;
}

.percent .number h6 {
    margin: 0;
    font-size: 13px;
    font-weight: 200;
}

svg .svgCircle{
    position: relative;
    width: 170px;
    height: 170px;
    z-index: 1000;
}

.svgCircle {
    width: 170px;
    height: 170px;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #ffffff;
    stroke-width: 28px;
    stroke-linecap: round;
    transform: translate(14px,14px);
}
