
.fitnessInfo span{
 border-style: none;
}

#saveButton{
 display:inline-block;
 padding:0.60em 1.5em;
 border:0.1px #FFFFFF;
 margin: 13px 0.3em 0.3em 0;
 border-radius: 5px;
 box-sizing: border-box;
 text-decoration:none;
 background-color:#5E9A8C;
 text-align:center;
 transition: all 0.2s;
 color: white;
}

#saveButton:hover{
 color:#000000;
 background-color:#FFFFFF;

}


#cancelButton{

 display:inline-block;
 padding:0.60em 1.5em;
 border:0.1px #FFFFFF;
 margin: 13px 0.3em 0.3em 0;
 border-radius: 5px;
 box-sizing: border-box;
 text-decoration:none;
 background-color:#E38D8D;
 text-align:center;
 transition: all 0.2s;
 color: white;
}

#cancelButton:hover{
 color:#000000;
 background-color:#FFFFFF;

}

