.profilePage{
    background: rgb(0,90,115);
    background: linear-gradient(0deg, rgba(0,90,115,1) 0%, rgba(138,205,200,1) 57%, rgba(10,170,147,1) 100%);
    height: 100vh;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 29px;
}

.fitnessInfo{
    margin-top: 16px;
}

.fitnessInfo span{
    border-bottom: 5px solid white;
}

.profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

.infoProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
}


p{
    margin: unset;
}

.headline{
    font-size: 30px;
    margin-bottom: 18px;
    font-family: 'Exo 2', sans-serif;
}



.workoutInfoProfile{
    background: rgba(255,255,255,0.6);
    border: white;
    border-radius: 15px;
    padding: 18px 0px 11px 0px;
    font-size: 15px;
    max-width: 350px;


}

.workoutInfoProfile span{
    margin-bottom: 9px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 254px;
    display: inline-grid;
    margin-bottom: 40px;
    border-bottom: white thin;
  /*  border-bottom-style: solid;*/



}

.workoutInfoProfile button {
    margin-top: 18px;
    margin-bottom: 26px;

}

.workoutInfoProfile select{
    width: 79px;
    margin-inline: auto;
    height: 25px;
    border: none;
}


#logoWeight{
    width: 43px;
    margin-bottom: 10px;
}

#editButton{
    display: inline;
}

.workoutInfoProfile input{
    width: 79px;
    margin-inline: auto;
    border: white;
    height: 25px;
}

.penLogo{
    width: 14px;
    margin-right: 17px;
}
.twoFactLogo{
    width: 14px;
    margin-right: 17px;
}



.profileImage{
    background-color: #282c34;
    height: 200px;
    border-radius: 50%;
    width: 200px;
    margin-bottom: 2px;
    margin-bottom: 13px;
    object-fit: cover;
    border-style: solid;
    border-color: white;
}




.infoProfile span {
    background: rgba(255,255,255,0.6);
    border: white;
    border-radius: 5px;
    padding: 14px 0px 14px 0px;
    max-width: 375px;
    width: 274px;
    display: flow;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    justify-content: center;
}



.editProfile{
    display:inline-block;
    padding:0.60em 1.5em;
    border:0.1px #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration:none;
    background-color:#41859A;
    text-align:center;
    transition: all 0.2s;
    color: white;
}

.editProfile:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.requestConButton{
    display:inline-block;
    padding: 0.6em 3.3em;
    border:0.1px solid #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration:none;
    background-color: #47A3A6;
    text-align:center;
    transition: all 0.2s;
    color: white;
}

.requestConButton:hover{
    color:#000000;
    background-color:#FFFFFF;
}


.requestTwoFactButton{
    display:inline-block;
    margin-bottom: 4px;
    padding: 0.6em 2.6em;
    border: solid 0.1px #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration:none;
    background-color:#41859A;
    text-align:center;
    transition: all 0.2s;
    color: white;
}

.requestTwoFactButton:hover{
    color:#000000;
    background-color:#FFFFFF;
}



@media (max-width:30em){
    .editProfile {
        display: block;
        margin: 0.4em auto;
    }
}



@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}


@media screen and (max-width: 769px) {
    .profile{
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 29px;
        padding: 26px 5px;
    }

    .profilePage{
        height:100%;
    }

    .desktop{
        display: none;
    }


}



