.main-div{
    grid-template-columns: 20% 80%;
    display: grid;
    background: linear-gradient(0deg, rgba(10,170,147,1) 0%, rgba(138,205,200,1) 57%, rgb(5, 102, 129) 100%);

}

.goal-header h1{
    font-weight: 100;
    font-family: 'Exo 2';
    font-size: 45px;
}

.goal-header{
    padding-bottom: 2em;
    color: white;
    height: 15vh;
}

.back-button {
    display: flex;
    height: 15vh;
    padding-top: 1em;
    padding-bottom: 1em;
}

.back-button button{
    margin: auto;
    padding: 1em 2em;
    border-radius: 1em;
    color: white;
    background-color: rgba(10,170,147,1);
    border: .05em solid white;
}

.goal-details{
    height: 100vh;
}

.goal-workouts {
    padding-left: 4em;
    color: white;
    padding-top: 1em;
    width: 80%;
    height: 70vh;
    text-align: center;
    font-size: 1.2em;
    margin-top: 84px;

}

.goal-workouts p{
    font-size: 16px;
    font-weight: 400;
}

.goal-workouts h1{
    font-size: 16px;
}

.goal-details i{
    color: white;

}


.workout-info {
    grid-template-columns: 1fr 1fr;
    display: grid;
    align-items: center;
}

.workout-info input {
    zoom:2;
}

.goal-info {
    color: black;
    background: rgba(255,255,255,0.6);
    border: white;
    border-radius: 12px;
    margin-left: 10px;
    margin-top: 2em;
    padding-top: 0em;
}


.circle {
    width: 10vw;
    height: 10vw;
    border-radius : 50%;
    margin : auto;
    text-align: center;
    justify-content: center;
}

.circle img{
    height: 82%;
    fill: none;
    stroke: #ffffff;
    stroke-width: 28px;
    stroke-linecap: round;
    transform: translate(14px,14px);
}

.circle-container {
    margin: auto;
    padding-top: 1.5em;
    padding-bottom: 3em;
}

progress {
    width: 80%;
    height: 2em;

}

progress::-webkit-progress-value {
    background: green;
}

.uncheck{
    margin-top: 14px;
    margin-left: 20px;

}



