.inner{
    background-color:  rgba(255, 255, 255, 0.7);
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    align-items: center;

}

.popupGoals {
    padding-bottom: 3em;
}

.popupGoals .popupGoalList {
    display: flex;
    justify-content: space-between;
}

.popupGoals .popupGoalList button {
    padding:0.60em 1em;
    border-radius: 5px;
    background-color: #19a3a5;
    text-align:center;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: .9em;
    border: none;
    margin: 0 .5em;
}

.popupGoals h4 {
    display: block;
    font-weight: normal;
    font-size: 1.3em;
}

.item-name{
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
}
.catalogue-button{
    border-radius:2px;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight: normal;
    padding:6px 24px;
    background-color:  #0d8490;
    margin-bottom: 10px;
}
.catalogue-button-list{
    border-radius:2px;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    color:#ffffff;
    font-size:15px;
    font-weight: normal;
    padding:6px 24px;
    background-color:  #0d8490;
    margin: 10px 10px 10px 10px;
}
.card{
    cursor:pointer;
}
.item-name-exercise{
 height: 40px;
}

@media only screen and (max-width: 800px) {
    .item-name{
        font-size: 13px;

    }

    .popupGoals .popupGoalList {
        flex-direction: column;
    }

    .popupGoals .popupGoalList button {
        margin-bottom: 1em;
    }
}
@media only screen and (max-width: 610px) {
    .catalogue-button{
        height: 40px;

    }
}
