.assign-contributor {
    background: linear-gradient(0deg, rgba(0,90,115,1) 0%, rgba(138,205,200,1) 57%, rgba(10,170,147,1) 100%);
    color: white;
    height: 100vh;
    padding-top: 0;
    display: grid;
}

.assign-contributor h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
}

.requested-contributors-display{
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
}

.requested-contributors {
    width: 65vw;
    color: black;
    background-color: rgba(265,265,265,0.5);
    display: flex;
    justify-content: space-around;
    padding: 17px;
    border-radius: 5px;
}

.user-info{
    text-align: left;
    font-size: 14px;
}

.add-button {

    align-self: center;
}

.add-button button{
    height: 6vh;
    padding: .5em .5em;
    border-radius: 5px;
    border: 2px solid #108082;
    color: white;
    background-color: #19a3a5;

}
