.createProfile{
    background: rgb(0,90,115);
    background: linear-gradient(0deg, rgba(0,90,115,1) 0%, rgba(138,205,200,1) 57%, rgba(10,170,147,1) 100%);
    height: 100%;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 29px;
}

