#disabled{
    background-color: lightgrey;
}

.headlinePersonalInformation{
    font-size: 24px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 22px;


}

.checkbox{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 13px;
}

.checkbox label{
    margin-right: 12px;
}

.headlineCreateUser{
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 25px;
    color:white;
    font-family: 'Exo 2', sans-serif;
}


.inputbox {
    max-width: 600px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: white;
    border-radius: 15px;

}

.fitnessInfoCreateProfile{
    max-width: 600px;
    height: 45vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-bottom: 29px;
    background: rgba(255,255,255,0.6);
    border: white;
    border-radius: 15px;
    padding: 11px 90px;
}

.fitnessInfoCreateProfile span{
    margin: 11px 47px 11px 11px;

}

.personalInfoCreateProfile {
    max-width: 600px;
    height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-bottom: 29px;
    background: rgba(255,255,255,0.6);
    border: white;
    border-radius: 15px;
    padding: 11px 90px;
}

.personalInfoCreateProfile span{
    margin: 11px 47px 11px 11px;

}

.fitnessInfoCreateProfile input[type=text] {
    padding: 5px 57px 5px 5px;
    border-style: none;

}

.fitnessInfoCreateProfile select{
    padding: 5px 148px 5px 5px;
    border: white;

}

.personalInfoCreateProfile input[type=text] {
    padding: 5px 57px 5px 5px;
    border-style: none;

}

.personalInfoCreateProfile select{
    padding: 5px 148px 5px 5px;
    border: white;

}

@media screen and (max-width: 769px) {
    .personalInfoCreateProfile {
        width: 230px;
        padding-bottom: 28px;

    }

    .fitnessInfoCreateProfile {
        width: 230px;
        padding-bottom: 28px;

    }


    .headlinePersonalInformation {
        font-size: 20px;

    }

    .headlinePersonalInformation{
        font-size: 23px;
        font-family: 'Exo 2', sans-serif;
        margin-bottom: 14px;


    }
    .checkbox{
        grid-template-columns: none;
        margin-bottom: 4px;

    }
}

@media screen and (max-width: 360px) {
    .personalInfoCreateProfile {
       width: 340px;
        padding-bottom: 28px;
        padding: 0;
        height: 40vh;
    }

    .fitnessInfoCreateProfile {
       width: 340px;
        padding-bottom: 28px;
        padding: 0;
        height: 40vh;
    }

    .personalInfoCreateProfile input[type=text]{
        padding: 5px 30px 5px 5px;

    }

    .fitnessInfoCreateProfile input[type=text] {
        padding: 5px 30px 5px 5px;
    }

    .fitnessInfoCreateProfile select{
        padding:  5px 122px 5px 5px;
    }

}

@media screen and (max-width: 320px) {
    .personalInfoCreateProfile {
        width: 300px;
        padding-bottom: 28px;
        padding: 0;
        height: 40vh;
    }

    .fitnessInfoCreateProfile {
        width: 300px;
        padding-bottom: 28px;
        padding: 0;
        height: 40vh;
    }

    .personalInfoCreateProfile input[type=text]{
        padding: 5px 20px 5px 5px;

    }

    .fitnessInfoCreateProfile input[type=text] {
        padding: 5px 20px 5px 5px;
    }

    .fitnessInfoCreateProfile select{
        padding:  5px 90px 5px 5px;
        margin-left: 13px;
    }


    .personalInfoCreateProfile span{
        margin: 11px 47px 11px 28px;

    }

    .fitnessInfoCreateProfile span{
        margin: 11px 47px 11px 28px;

    }


}




.inputbox span {
    display: list-item;
    justify-content: center;
    list-style: none;
    display: grid;
    grid-template-columns: 100px 2fr;
    align-items: center;
    margin-bottom: 13px;

}

.form label {
    margin: 5px 10px 5px 0;
}

.form input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.saveProfileButton{
    display:inline-block;
    padding:0.60em 3.5em;
    border:0.1px #FFFFFF;
    margin: 13px 0.3em 0.3em 0;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration:none;
    background-color:#5E9A8C;
    text-align:center;
    transition: all 0.2s;
    color: white;
}

.saveProfileButton:hover{
    color:#000000;
    background-color:#FFFFFF;

}


